.app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #29487d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app-top-bar h1 {
    color: white;
    margin: 0;
    margin-left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}
.navbar-nav{
    margin-right: 50px; 
}

a {
    display: inline-flex;
    align-items: center;
    padding: 5px 16px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
    margin: 10px;
  }
  
a:hover {
    opacity: 0.8;
    font-weight: normal;
}
table{
    margin: 50px;
    width: 800px;
    height: 400px;
    text-align: start;
    display: block;
    border-spacing: 0px;
    margin: 0 auto;
    /*overflow-y: scroll;
    display: block;
    border-collapse: collapse;*/

}
table th{
    width:100%;
}
tbody{
    width: inherit;
    z-index: 3;
    background-color: white;
    
    position: fixed;
    border-radius: 0 0 10px 10px;
    
}
tr{
    text-align: left;
    
}

.search{
    display: block;
    text-align: left;
}
.SearchButton{
    height: 30px;
    border-radius: 0 10px 0 0;
    border: 0px solid #f2f2f2;
    background-color: white;
    width: 10%;
    padding: 0px;
}
.searchInput{
    height: 30px;
    border-radius: 10px 0 0 0;
    border: 0px solid #f2f2f2;
    width: 90%;
}
.searchResult{
    text-align: left
}