.app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #29487d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app-top-bar h1 {
    color: white;
    margin: 0;
    margin-left: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}
.navbar-nav{
    margin-right: 50px; 
}

a {
    display: inline-flex;
    align-items: center;
    padding: 5px 16px;
    border-radius: 2px;
    font-size: 12px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
    margin: 10px;
  }
  
a:hover {
opacity: 0.8;
font-weight: normal;
}
table{
    margin: 50px;
    width: 450px;
    height: 400px;
    overflow-y: scroll;
    display: block;
    border-collapse: collapse;
}
tr{
    text-align: center;
    border-bottom: 1px solid black;
}

.search{
    margin: 50px;
}
.ml-2{
    border-radius: 4px;
}