<nav class="navbar app-top-bar">
  <h1>Stock Portfolio</h1>
  <div class="navbar-nav">
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
    
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" class="table th">
        <div class="search">
          <input class="form-control ml-2 searchInput" type="search" [formControl]="filter"/>
          <button class="SearchButton">Search</button>
        </div>
      </th>
      <th scope="col"></th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of stockLists$ | async | slice:0:10; index as i" class="searchResult">
      <!--<th scope="row">{{ i + 1 }}</th> -->
      <td>
        <ngb-highlight [result]="stock.symbol + '    '  +stock.name" [term]="filter.value"></ngb-highlight>
      </td>
      <td></td>
      
    </tr>
    </tbody>
  </table>